@import 'tailwindcss';
@import './links.css';

@theme {
  /* https://colorhunt.co/palette/451952662549ae445af39f5a */
  --color-primary: #451952;
  --color-primary-alt: #662549;
  --color-secondary: #ae445a;
  --color-tertiary: #f39f5a;

  --font-family-sans: 'InterVariable', Inter, ui-sans-serif, system-ui,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';

  --shadow-heavy: 2px 4px 6px rgba(0, 0, 0, 0.666);

  --width-screen-xl: 80rem;
}

@layer components {
  .container {
    @apply mx-auto max-w-screen-xl px-4 sm:px-2 lg:px-4 xl:px-6 2xl:px-8;
  }

  /* Typography - Headings */
  .type-h1 {
    @apply font-sans font-bold leading-tight text-4xl md:text-5xl lg:text-6xl;
  }

  .type-h2 {
    @apply font-sans font-bold leading-tight text-3xl md:text-4xl;
  }

  .type-h3 {
    @apply font-sans font-bold leading-tight text-2xl md:text-3xl;
  }

  .type-h4 {
    @apply font-sans font-bold leading-tight text-xl md:text-2xl;
  }

  .type-h5 {
    @apply font-sans font-bold leading-tight text-lg md:text-xl uppercase tracking-wider;
  }

  .type-h6 {
    @apply font-sans font-bold leading-tight text-base md:text-lg;
  }

  /* Typography - Text sizes */
  .type-sm {
    @apply font-sans font-normal leading-relaxed text-sm lg:text-base;
  }

  .type-md {
    @apply font-sans font-normal leading-relaxed text-base lg:text-lg;
  }

  .type-lg {
    @apply font-sans font-normal leading-relaxed text-lg lg:text-xl;
  }
}
