.button {
  @apply py-3 px-6 border-gray-500 text-base transition-colors duration-300;

  display: inline-block;
  border-width: 2px;
  background-color: transparent;
  border-radius: 9999px;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1;

  &:hover,
  &:focus {
    @apply bg-primary;

    border-color: currentColor;
    color: white;
  }
}

.link {
  @apply transition-colors text-tertiary;

  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: currentColor;
  text-underline-offset: 0.3em;

  &:hover,
  &:focus {
    @apply text-secondary;

    text-decoration-color: transparent;
  }
}

.link-reverse {
  @apply transition-colors;

  display: inline-block;
  cursor: pointer;
  text-decoration-color: transparent;
  text-decoration-color: currentColor;
  text-underline-offset: 0.3em;

  &:hover,
  &:focus {
    @apply text-secondary;

    text-decoration: underline;
  }
}
