---
import CommonHead from './CommonHead.astro';

import 'styles/animations.css';
import 'styles/links.css';
---

<html lang="en" class="flex flex-col min-h-full" transition:animate="none">
  <head>
    <CommonHead />
    <title>manhole.gallery</title>
  </head>
  <body
    class="flex flex-col min-h-full flex-1 bg-white text-black dark:bg-black dark:text-white scroll-smooth"
  >
    <slot />
  </body>
</html>
