---
import { ViewTransitions } from 'astro:transitions';
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" type="image/png" href="/favicon.png" />
<meta name="viewport" content="width=device-width" />

<!-- Primary Meta Tags -->
<!-- <title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} /> -->

<ViewTransitions />
