---
import { getPostTeasers } from "~/sanity/queries";
import PageLayout from "~/layouts/PageLayout.astro";
import { Heading, PostTeaser, Text } from "~/components";

const posts = await getPostTeasers(6);
---

<PageLayout>
  <div class="container mb-8 md:mb-12 lg:mb-16">
    <div class="mx-auto max-w-[50ch] text-center md:mx-0 md:text-left">
      <Heading class:list="mb-8" as="h1">404: Manhole not found!</Heading>
      <Text class:list="mb-2" size="lg">
        Looks like our cover got away. While we search, enjoy more hole-some
        content on our site!
      </Text>
      <Text>
        <a class="link" href="/">Go to the home page</a>
      </Text>
    </div>
  </div>

  <div
    class="xs:grid-cols-2 mx-auto grid max-w-[125rem] flex-1 grid-cols-1 justify-start gap-4 align-top lg:grid-cols-3"
  >
    {
      posts.map((post) => (
        <PostTeaser
          imageSizes="(max-width: 474px) 100vw, (max-width: 1023px) 50vw, (max-width: 125rem) 33.334vw, 40rem"
          post={post}
        />
      ))
    }
  </div>
</PageLayout>
