---
import { getPostTeasers } from '~/sanity/queries';
import PageLayout from '~/layouts/PageLayout.astro';
import { PostTeaser } from '~/components';

const posts = await getPostTeasers(6);
---

<PageLayout>
  <div class="container mb-16 md:mb-20 lg:mb-24">
    <div class="mx-auto max-w-2xl text-center">
      <div class="mb-8 flex justify-center">
        <div class="manhole-accent">
          <div class="h-24 w-24 rounded-full border-8 border-current"></div>
        </div>
      </div>
      <h1 class="type-h1 mb-6">404: Manhole not found!</h1>
      <p class="type-lg mb-8 text-current/80">
        Looks like our cover got away. While we search, enjoy more hole-some
        content on our site!
      </p>
      <a class="button" href="/">
        <span>Return to Gallery</span>
      </a>
    </div>
  </div>

  <div class="gallery-grid w-full px-4 sm:px-6 lg:px-8 xl:px-12">
    {
      posts.map((post) => (
        <PostTeaser
          imageSizes="(max-width: 474px) 100vw, (max-width: 1023px) 50vw, (max-width: 125rem) 33.334vw, 40rem"
          post={post}
        />
      ))
    }
  </div>
</PageLayout>
