---
import { getPostTeasers } from '../sanity/queries';
import BaseLayout from 'components/layout/BaseLayout.astro';
import { Heading, PostTeaser } from 'components/shared';

const posts = await getPostTeasers();
---

<BaseLayout>
  <div class="container xl:max-w-[125rm]">
    <Heading class:list={['mb-8']} as="h1">Welcome to Manhole.com</Heading>
    <div
      class="grid xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4"
    >
      {posts.map((post) => <PostTeaser post={post} />)}
    </div>
  </div>
</BaseLayout>
