---
const props = Astro.props;
const { node, index, isInline, ...attrs } = props;
const styleIs = (style: string) => style === node.style;
---

{
  styleIs('h1') ? (
    <h1 class="type-h1 mt-[0.8em] mb-[0.4em]" {...attrs}>
      <slot />
    </h1>
  ) : styleIs('h2') ? (
    <h2 class="type-h2 mt-[0.8em] mb-[0.4em]" {...attrs}>
      <slot />
    </h2>
  ) : styleIs('h3') ? (
    <h3 class="type-h3 mt-[0.8em] mb-[0.4em]" {...attrs}>
      <slot />
    </h3>
  ) : styleIs('h4') ? (
    <h4 class="type-h4 mt-[0.8em] mb-[0.4em]" {...attrs}>
      <slot />
    </h4>
  ) : styleIs('h5') ? (
    <h5 class="type-h5 mt-[0.8em] mb-[0.4em]" {...attrs}>
      <slot />
    </h5>
  ) : styleIs('h6') ? (
    <h6 class="type-h6 mt-[0.8em] mb-[0.4em]" {...attrs}>
      <slot />
    </h6>
  ) : styleIs('blockquote') ? (
    <blockquote
      class="border-l-4 border-primary/30 pl-4 italic my-4"
      {...attrs}
    >
      <slot />
    </blockquote>
  ) : styleIs('normal') ? (
    <p class="type-md my-4" {...attrs}>
      <slot />
    </p>
  ) : (
    <p class="type-md" {...props}>
      <slot />
    </p>
  )
}
