---
import { Heading, Text } from '~/components';
import BaseLayout from './BaseLayout.astro';

type meta = {
  title?: string;
  description?: string;
  image?: string;
};

export type Props = {
  meta?: meta;
};

const { meta } = Astro.props;
---

<BaseLayout meta={meta}>
  <header
    id="site-header"
    class="sticky top-0 w-screen mb-8 z-50 py-4 bg-white/70 dark:bg-black/70 backdrop-blur-lg transition-all duration-300"
  >
    <div class="container flex justify-center md:justify-start">
      <a
        class="text-2xl font-bold tracking-tight uppercase hover:text-secondary focus:text-secondary transition-colors duration-300"
        href="/"
      >
        Manhole &middot; Gallery
      </a>
    </div>
  </header>

  <main class="flex-1 w-screen" transition:animate="fade">
    <slot />
  </main>

  <footer class="mt-8 md:mt-12 lg:mt-16 mb-16 md:mb-24 lg:mb-32 w-screen">
    <div class="container">
      <div
        class="grid gap-y-8 gap-x-16 md:grid-cols-2 xl:grid-cols-4 text-center md:text-start"
      >
        <div class="md:col-span-2 xl:col-span-1">
          <a
            class="text-2xl font-bold tracking-tight uppercase link-reverse"
            href="/"
          >
            Manhole &middot; Gallery
          </a>
        </div>

        <div class="space-y-4 xl:col-span-2">
          <Heading
            as="p"
            size="h5"
            class:list="leading-none border-t-2 border-current pt-8 lg:mt-4"
          >
            About
          </Heading>
          <Text size="sm">
            Manhole is a collection of images of manhole covers from around the
            world.
          </Text>
          <Text size="sm">
            Manhole is an open source project by <a
              href="https://callum.co.uk"
              target="_blank"
              class="link">Callum Bonnyman</a
            >.
          </Text>
        </div>

        <div class="space-y-4">
          <Heading
            as="h5"
            size="h5"
            class:list="leading-none border-t-2 border-current pt-8 lg:mt-4"
          >
            Like this website?
          </Heading>
          <Text size="sm">
            Check out and star the project on
            <a
              href="https://github.com/wrux/manhole"
              rel="nofollow"
              class="link"
              target="_blank">Github</a
            >.
          </Text>
        </div>
      </div>
    </div>
  </footer>
</BaseLayout>
