---
import { Heading, Text, Wordmark } from '~/components';
import BaseLayout from './BaseLayout.astro';

type meta = {
  title?: string;
  description?: string;
  image?: string;
};

export type Props = {
  meta?: meta;
};

const { meta } = Astro.props;
---

<BaseLayout meta={meta}>
  <header
    id="site-header"
    class="sticky top-0 z-50 mb-8 w-full bg-white/70 py-4 backdrop-blur-lg transition-all duration-300 dark:bg-black/70"
  >
    <div class="container flex justify-center md:justify-start">
      <a class="block w-full text-lg md:w-auto lg:text-2xl" href="/">
        <Wordmark />
      </a>
    </div>
  </header>

  <main class="w-full flex-1" transition:animate="fade">
    <slot />
  </main>

  <footer class="mb-16 mt-8 w-full md:mb-24 md:mt-12 lg:mb-32 lg:mt-16">
    <div class="container">
      <div
        class="grid gap-x-16 gap-y-8 text-center md:grid-cols-2 md:text-start xl:grid-cols-4"
      >
        <div class="md:col-span-2 xl:col-span-1">
          <a class="block w-full text-lg md:w-auto" href="/">
            <Wordmark />
          </a>
        </div>

        <div class="space-y-4 xl:col-span-2">
          <Heading
            as="p"
            size="h5"
            class:list="leading-none border-t-2 border-current pt-8 lg:mt-4"
          >
            About
          </Heading>
          <Text size="sm">
            Manhole is a collection of images of manhole covers from around the
            world.
          </Text>
          <Text size="sm">
            Manhole is an open source project by <a
              href="https://callum.co.uk"
              target="_blank"
              class="link">Callum Bonnyman</a
            >.
          </Text>
        </div>

        <div class="space-y-4">
          <Heading
            as="p"
            size="h5"
            class:list="leading-none border-t-2 border-current pt-8 lg:mt-4"
          >
            Like this website?
          </Heading>
          <Text size="sm">
            Check out and star the project on
            <a
              href="https://github.com/wrux/manhole"
              rel="nofollow"
              class="link"
              target="_blank">Github</a
            >.
          </Text>
        </div>
      </div>
    </div>
  </footer>
</BaseLayout>
